.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.explore-menu-text{
    text-align: center;
    margin-top: -33px;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 30px;
    overflow-x: scroll;
    transition: transform 0.3s ease;
    
}
.explore-menu-list-item img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img{
    height : 200px;
    cursor: pointer;
    /* transition: transform 0s; */
    padding: 10px;
}

.explore-menu-list-item p{
    margin-top: 10px;
    font-size: 22px;
    cursor: pointer;
    
}
.scroll-wrap{
    display: flex;
    align-items: center;
}
.arrow{
    height: 40px;
    margin-right: 110px;
    margin-bottom: 30px;
    cursor: pointer;
}
.back-arrow{
    height: 40px;
    margin-left: 110px;
    margin-bottom: 30px;
    margin-right: 20px;
    cursor: pointer;
}