body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards {
  margin: 0 3em;
  border: none !important;
  text-align: center;
  width: 20em;
  height: 30em !important;
}
.btn-primary{
  background-color: #eb0029 !important;
  border: none !important;
  font-size: 20px !important;
  border-radius: 35px !important;
  padding-left: 25px !important;
  margin-top: 10px !important;
}

.cards-body h5{
  margin-top: -2em;
  font-size: 1.7em;
}

.cards .img-wrapper {
    max-width: 100%;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards img {
    max-height: 80%;
}

.img-wrapper img{
  border-radius: 50% !important;

}

#foodBowl{
  height: 700px;
}

#frontPage{
  margin: 150px -10px 100px 120px;
}

#pick-line{
  font-size: 60px;
  line-height: 75px;
  margin-bottom: 40px;
}

#design-food{
  color: #eb0029;
  font-size: 70px;
  font-family: Lobster Two, sans-serif;
  font-style: italic;
  font-weight: 400;
}
#arrows{
  height: 30px;
  margin-bottom: 4px;
}
#order-now{
  margin-top: 50px;
  background-color:  #eb0029;
  color: white;
  padding: 12px 25px;
  font-size: 20px;
  border-radius: 30px;
  border:  none;
}

#textColor{
  color: #eb0029;
}

#illustrations{
  height: 250px;
}
#illustrations-2{
  height: 200px;
  margin-bottom: 48px;
}
#ul-serve{
  list-style: none;
}

#chef-img{
  height: 500px;
  margin-left: 100px;
}
#message{
  margin-left: 70px;
  margin-right: 120px;
}

#testimonials{
  margin: 30px 80px;
  margin-top: 120px;
  border: black;
  border-radius: 10px;
  border-width: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#customer{
  height: 60px;
  border-radius: 100%;
  margin-right: 15px;
}

#star{
  height: 20px;
  margin-right: 10px;
  margin-top: 20px;
}
#star2{
  height: 23px;
  margin-right: 10px;
  margin-top: 19px;
}

.col{
  width: 280px !important;
  margin-left: 30px !important;
}

.col2{
  width: 250px !important;
  margin-left: 50px !important;
}
